.header__link {
  text-decoration: none;
  color: var(--blue-bg-color);
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.header__link::after {
  content: '\2192';
}

.header__link:hover {
  opacity: 0.3;
}
